<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.zt.study_jetcache.dao.UserDao">

   <select id="insertUser" parameterType="com.zt.study_jetcache.domain.UserDomain">
       insert into user(username,pwd,create_time) value (
       #{username},
       #{pwd},
       #{createTime}
       )
   </select>

    <update id="updateUser" parameterType="com.zt.study_jetcache.domain.UserDomain">
        update user set username=#{username},
        pwd=#{pwd},
        create_time=#{createTime}
    </update>


    <select id="queryAllUser" resultType="com.zt.study_jetcache.domain.UserDomain">
        select * from user;
    </select>

</mapper>